{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block main %}
<div id="preloader">
    <div id="load"></div>
</div>
<!-- /Section: intro -->
<section id="intro">
    <div class="slogan">
        <h1> <span>常易舒<sup>TM</sup></span></h1>
        <h2>大肠癌早期筛查，让生活更健康!</h2>
    </div>
</section>
<!-- section colon-->
<section id="colon" class="home-section text-right bg-info">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <img class="single-img" src="{% static "img/colon.png" %}" alt="" />
            </div>
            <div class="col-xs-6">
                <h2>大肠癌</h2>
                <p class="subtitle">使用常易舒<sup>TM</sup>大肠癌早期无创筛查服务</p>
                <a href="/colon" class="hl-btn hl-btn-green">了解大肠癌</a>
            </div>
        </div>
    </div>
</section>
<!-- Section: services -->
<section id="service" class="home-section text-left bg-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h2>产品介绍</h2>
                <p class="subtitle">基因技术提前数年发现癌前病变和大肠癌</p>
                <div style="float: left">
                    <a href="/product" class="hl-btn hl-btn-green">了解产品</a>
                </div>
            </div>
            <div class="col-xs-6">
                <img class="single-img" src="{% static "img/service.png" %}" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- process -->
<section id="process" class="home-section text-right bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 sidebar">
                    <img class="single-img" src="{% static "img/flow.png" %}" alt="">
                </div>
                <div class="col-sm-4 content text-right">
                    <h2>使用流程</h2>
                    <h3>无创无痛、简便易用</h3>
                    <a href="/product/process" class="hl-btn hl-btn-green">查看使用方法</a>
                </div>
            </div>
        </div>
</section>
<!-- Section: report -->
<section id="report" class="home-section text-left bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h2>检测报告</h2>
                <h3>精准、简明、易懂</h3>
                <p class="subtitle">基因技术提前数年发现癌前病变和大肠癌</p>
                <div style="float: left">
                    <a href="/product" class="hl-btn hl-btn-green">了解产品</a>
                </div>
            </div>
            <div class="col-xs-6">
                <img class="single-img" src="{% static "img/service.png" %}" alt="" />
            </div>
        </div>
    </div>
</section>
{% endblock %}
