<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<!--<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">-->

<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
<link rel="stylesheet" href="{% static "css/colowell.css" %}">
<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<!--<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>-->
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{% static "img/realmed.png" %}">
            </a>
            {% if request.user.is_authenticated %}
                <a class="navbar-text visible-lg" href="/sample_bind">
                    欢迎您，{% firstof request.user.get_full_name request.user.username %}
                </a>
            {% endif %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                {% page_menu "pages/menus/dropdown.html" %}
                {% if request.user.is_authenticated %}
                    <li><a href="/accounts/logout">{% trans "Log out" %}</a></li>
                {% else %}
                    <li><a href="/accounts/login">{% trans "Log in" %}/{% trans "Sign up" %}</a></li>
                {% endif %}
            </ul >
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">{% block main %}{% endblock %}</div>
        <div class="col-md-1"></div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy;Copyright 2015 - 锐翌医学 版权所有 沪ICP备16022951号-3 上海锐翌生物科技有限公司</p>
            </div>
        </div>
    </div>
</footer>
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
<script src="{% static "js/jquery.easing.min.js" %}"></script>
<script src="{% static "js/jquery.scrollTo.js" %}"></script>
<script src="{% static "js/wow.min.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
</body>
</html>
